{% extends "base.html" %}
{% block body %}
<div class="container">
<div class="row align-items-center">
    <div class="col">
      One of three columns
    </div>
    <div class="col" class="d-flex justify-content-center">
        <p></p>
           <h1 style="text-align: center"><span class="badge badge-secondary">Add new question</span></h1>
    <div class="form-floating">
        <form action="{{ url_for("save_question")}}" method="POST">
        <label style="text-align: center" for="title">Title</label><br>
        <textarea class="form-control" placeholder="Leave a title" name="title" id="title" type="text" minlength="5" maxlength="50"></textarea>
        <br><br>
        <label for="message">Message</label><br>
        <textarea class="form-control" placeholder="Leave a message"  name="message" id="message" rows="4" cols="50" type="text" minlength="5" maxlength="50"></textarea>
         <p></p>
            <button class="btn btn-outline-primary" type="submit" value="Submit">Add new question</button>
        </form>
    </div>
            <p></p>
         <div class="row">
                <a href="{{ url_for("index") }}" style="text-align: center"><button class="btn btn-outline-primary" >No save</button></a>
         </div>
        <p></p>
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
{% endblock %}