{% extends "base.html" %}
{% block body %}
<div class="container">
<div class="row align-items-center">
    <div class="col">
      One of three columns
    </div>
    <div class="col-6" class="d-flex justify-content-center">
        <p></p>
            <h1><span class="badge badge-secondary">Add answer</span></h1>
    <div class="form-floating">
        <form action="{{ url_for('save_answer', q_id=question_id) }}" method="POST">
        <label for="message">Message:</label><br>
        <textarea class="form-control" placeholder="Leave a message" name="message" id="message" rows="4" cols="50" minlength="2" maxlength="500"></textarea>
        <br>
        <button class="btn btn-outline-primary" type="submit" value="Submit">Add answer</button>
    </form>
        <br>
    </div>
         <div class="row">
             <div class="col-ml-4 themed-grid-col">
                 <a href="{{ url_for("display_question", question_id=question_id) }}"><button class="btn btn-outline-primary">No save</button></a>
            </div>
            <div class="col-md-4 themed-grid-col">
                <a href="{{ url_for("index") }}" style="text-align: center"><button class="btn btn-outline-primary">Back to questions</button></a>
            </div>
         </div>
        <p></p>
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
{% endblock %}