<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'comment_question.js') }}" >
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="min-height: 75rem; padding-top: 4.5rem" class="p-3 mb-2 bg-dark text-white">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Just ask!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
     <form action="/search/" method=post class="d-flex">
        <input class="form-control me-2" id="search_phrase" type="text" placeholder="Search ..." name ="search_phrase">
        <button class="btn btn-outline-primary" type="submit">Search</button>
     </form>
        <div>
        <form action="/registration/" method=get  class="d-flex">
        <button class="btn btn-outline-primary" type="submit">Registration</button>
     </form>
        </div>
    </div>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
<p></p>
 <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Just ask! 2020 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</html>