<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewpoint" content="=width=device-width, user-scalable=no, initial-scal=1.0, maximum-scale=1.0" />
    <title>Display question</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style> td, th { border: 2px solid white; } h1, body { color: white} </style>
 <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'comment_answer.js') }}" ></script>
</head>
    <body>
        <h1>Full info about question</h1>
    <table>
        <thead>
            <tr>
                {% for key in headers_print %}
                    <th>
                        {{ headers_print[key] }}
                    </th>
                {%  endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                    {% for header in headers %}
                        <td>
                            {% if header == "image" %}
                                {#   <img src="{{ url_for('static', filename='images/' + question_image_name) }}" alt="No image attached" width="100" height="100"> #}
                            {% else %}
                                {{ question[header] }}
                            {% endif %}
                        </td>
                    {%  endfor %}
                <td>
                    <form id="upload_image_question" action="" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <input type="submit" value="Attach an image">
                    </form>
                </td>
            </tr>
        </tbody>
        </table>
        <br>
             <a href="{{ url_for("edit_question", question_id=question["id"]) }}"><button class="button2">Edit question</button></a>
              <a href="{{ url_for("delete_question", question_id=question["id"]) }}"><button class="button1">Delete question</button></a>
            <a href="{{ url_for("add_answer", question_id=question["id"]) }}"><button class="button3">Add answer</button></a>
        <br>
        <h1>All Answers</h1>
        {% if answers == [] %}
            There are no answers to this question yet
            <br><br>
        {% else %}
        <table>
        <thead>
            <tr>
                {% for header in answers_headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
                <tr>
                    {% for header in answers_headers %}
                        <td>
                            {% if header == "image" %}
                                {% for answer_image_name in answer_image_names %}
                                    {% if "answer"+display_answer['id'] in answer_image_name %}
                                        <img src="{{ url_for('static', filename='images/' + answer_image_name) }}" alt="Image not found" width="100" height="100">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ answer[header] }}
                            {%  endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>
                        <a href="{{ url_for("edit_answer",answer_id=answer["id"]) }}"><button class="button2" type="submit" >Edit answer</button></a>
                    </th>
                    <th>
                        <a href="{{ url_for("delete_comment_to_answer", answer_id=answer["id"]) }}"><button class="button2" type="submit" >Delete answer</button></a>
                    </th>
                    <th>
                        <a href="{{ url_for("vote_up_answers", answer_id=answer["id"]) }}"><button class="button1" type="submit">Vote up</button></a>
                    </th>
                    <th>
                        <a href="{{ url_for("vote_down_answers", answer_id=answer["id"]) }}"><button class="button3" type="submit">Vote down</button></a>
                    </th>
                    <th>
                        <button class="button3" onClick="showComment({{ answer["id"] }})">Add comment</button>
                    </th>
                    <th>
                        <button class="button3" onClick="showComments({{ answer["id"] }})">Show comments</button>
                    </th>
                    <th>
                        <form id="upload_image_answer" action="{{ url_for('upload_image_answer', question_id=question['id'], answer_id=answer['id']) }}" alt="No image attached" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" accept="image/*">
                        <input type="submit" value="Attach an image">
                        </form>
                    </th>
                </tr>
                <table id="comments{{ answer['id'] }}" style='display:none;'>
                {% for comment in comments %}
                    {% if comment['answer_id'] == answer['id'] %}
                        <tr>
                            <th>
                                {{ comment['message'] }}
                            </th>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
                <div id="comment{{ answer['id'] }}" style='display:none;'>

                       <form action="{{ url_for('save_comment_answer', answer_id=answer['id']) }}" method="POST">
                            <label for="message">Comment:</label><br>
                            <textarea name="message" id="message" minlength="5" rows="4" cols="50" maxlength="500"></textarea>
                            <br><br>
                            <button class="button2" type="submit" value="Submit">Add comment</button>
                        </form>

                </div>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
        <br>
       <a href="{{ url_for("list" ) }}"><button class="button2">Back to the list of questions</button></a>

    <br>
</body>
</html>