<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewpoint" content="=width=device-width, user-scalable=no, initial-scal=1.0, maximum-scale=1.0" />
    <title>Display question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--style> td, th { border: 2px solid white; } h1, body { color: white} </style-->
 <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'comment_answer.js') }}" ></script>
</head>
    <body>
    <div class="container">
    <div class="row">
        <div class="col">
        <h1>Full info about question</h1>
            </div>
    </div>
    <table class="table table-borderless table-dark">
        <thead>
            <tr>
                {% for key in headers_print %}
                    <th>
                        {{ headers_print[key] }}
                    </th>
                {%  endfor %}
            </tr>

        <tbody>
            <th>
                    {% for header in headers %}
                        <th>
                            {% if header == "image" %}
                                {#   <img src="{{ url_for('static', filename='images/' + question_image_name) }}" alt="No image attached" width="100" height="100"> #}
                            {% else %}
                                {{ question[header] }}
                            {% endif %}
                        </th>
                    {%  endfor %}
                <th>
                    <form id="upload_image_question" action="" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <input type="submit" value="Attach an image" class="btn btn-outline-primary">
                    </form>
                </th>
            </th>
        </thead>
        </tbody>
        </table>
        <br>
        <th scope="col">
             <a href="{{ url_for("edit_question", question_id=question["id"]) }}"><button class="btn btn-outline-primary">Edit question</button></a>
        </th>
        <th scope="col">
        <a href="{{ url_for("delete_question", question_id=question["id"]) }}"><button class="btn btn-outline-primary">Delete question</button></a>
         </th>
        <th scope="col">
        <a href="{{ url_for("add_answer", question_id=question["id"]) }}"><button class="btn btn-outline-primary">Add answer</button></a>
        </th>
        <th scope="col">
             <a href="{{ url_for("new_tag", question_id=question["id"]) }}"><button class="btn btn-outline-primary">Add tags</button></a>
        </th>

        <table class="table table-hover table-dark">
            <thead>
        <h1>All Answers</h1>
         <th scope="col">
        {% if answers == [] %}
            There are no answers to this question yet
            <br><br>
        {% else %}
         </th>
            </thead>
        <tbody>
        <div class="container">
            <tr>
                z
                {% for answer in answers %}
                <th scope="row">
                  {% for header in answers_headers %}
                        <div class="col">
                            {% if header == "image" %}
                                {% for answer_image_name in answer_image_names %}
                                    {% if "answer"+display_answer['id'] in answer_image_name %}
                                        <img src="{{ url_for('static', filename='images/' + answer_image_name) }}" alt="Image not found" width="100" height="100">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ answer[header] }}
                            {%  endif %}
                        </div>
                    {% endfor %}
                    <div class="col">
                        <a href="{{ url_for("edit_answer",answer_id=answer["id"]) }}"><button class="btn btn-outline-primary" type="submit" >Edit answer</button></a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for("delete_comment_to_answer", answer_id=answer["id"]) }}"><button class="btn btn-outline-primary" type="submit" >Delete answer</button></a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for("vote_up_answers", answer_id=answer["id"]) }}"><button class="btn btn-outline-primary" type="submit">Vote up</button></a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for("vote_down_answers", answer_id=answer["id"]) }}"><button class="btn btn-outline-primary" type="submit">Vote down</button></a>
                    </div>
                    <div class="col">
                         <button class="btn btn-outline-primary" onClick="showComment({{ answer["id"] }})">Add comment</button>
                    </div>
                    <div class="col">
                       <button class="btn btn-outline-primary" onClick="showComments({{ answer["id"] }})">Show comments</button>
                    </div>
                </th>
             </table>
                <div id="comments{{ answer['id'] }}" style='...'>
                            {% for comment in comments %}
                                {% if comment['answer_id'] == answer['id'] %}
                                    <div class="row">
                                        <div class="col">
                                            {{ comment['message'] }}
                                        </div>
                                        <div class="col">
                                            <a href="{{ url_for("delete_one_comment", answer_id=answer["id"], comment_id=comment["id"]) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                <div id="comment{{ answer['id'] }}" style='display:none;'>

                       <form action="{{ url_for('save_comment_answer', answer_id=answer['id']) }}" method="POST">
                            <label for="message">Comment:</label><br>
                            <textarea name="message" id="message" minlength="5" rows="4" cols="50" maxlength="500"></textarea>
                            <br><br>
                            <button class="btn btn-outline-primary" type="submit" value="Submit">Add comment</button>
                        </form>

                </div>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}
        <br>
       <a href="{{ url_for("list" ) }}"><button class="btn btn-outline-primary">Back to the list of questions</button></a>

    <br>
</body>
</html>







