<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit existing question</title>
    <link href="/static/images/style.css" rel="stylesheet">
    <style> td, th {  border: 2px solid white } h1, body { color: white} </style>
</head>
<body>
    <h1>Edit existing question</h1>
    <form action="{{ url_for("save_edited_question", question_id=question_id)}}" method="POST">
        <label for="title">Title:</label><br>
        <textarea name="title" id="title" type="text" minlength="5" maxlength="50">{{ question["title"] }}</textarea>
        <br><br>
        <label for="message">Message:</label><br>
        <textarea name="message" id="message" minlength="5" maxlength="500">{{ question["message"] }}</textarea>
        <br><br>
        <input name="id" id="id" type="hidden" value= {{ question_id }}>
        <button class="button2" type="submit" value="Update existing question">Save question</button>
    </form>
        <br>
    <a href="{{ url_for("display_question", question_id=question_id) }}"><button class="button1">Back without saving</button></a>
                <br><br>
        <a href="{{ url_for("index") }}"><button class="button3">Back to list of questions</button></a>
        <br>
</body>
</html>