{% extends "base.html" %}
{% block body %}
    <h1><span class="badge badge-secondary">Edit answer</span></h1>
    <form action="{{ url_for('save_edit_answer', answer_id=answer_id) }}" method="POST">
        <label for="message">Enter new message (answer)</label><br>
        <textarea name="message" id="message" rows="4" cols="50" minlength="5" maxlength="500">{{ answer['message'] }}</textarea>
        <br><br>
        <button class="btn btn-outline-primary" type="submit" value="Submit">Save edit answer</button>
    </form>
        <br>
    <a href="{{ url_for("display_question", question_id=question_id) }}"><button class="btn btn-outline-primary"">Back without saving</button></a>
                <br><br>
          <a href="{{ url_for("list") }}"><button class="btn btn-outline-primary">Back to list of questions</button></a>
        <br>
{% endblock %}