<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <style> td, th { border: 1px solid #000000; } </style>
</head>
<body>
<h1>Ask Mate</h1>
<a href="{{url_for("add_question")}}">Add new question</a>
<br>
    <form action="{{ url_for("sort_questions") }}" method="POST">
 <p>
    <label for="order_by">Sort questions by:</label><br>
    <select name="order_by" id="order_by">
        <option value="id">id</option>
        <option value="submission_time">submission time</option>
        <option value="view_number">number of views</option>
        <option value="vote_number">number of votes</option>
        <option value="title">title</option>
        <option value="message">message</option>
    </select>
</p>
<p>
    <label for="order_direction">Order:</label><br>
    <select name="order_direction" id="order_direction">
        <option value="asc">ascending</option>
        <option value="desc">descending</option>
    </select>
</p>
</p>
    <button type="submit" value="Submit">Sort</button>
</p>
    </form>
     <table>
        <thead>
            <tr>
                {% for header in headers %}
                    {% if header == "id" or header == "submission_time" or header == "title" or header == "vote_number" %}
                        <th>
                            {{ header }}
                        </th>
                    {%  endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr >
                    {% for header in headers %}
                        {% if header == "id" or header == "submission_time" or header == "title" or header == "vote_number" %}
                            <td>
                                {% if header == "title" %}
                                    <a href="{{ url_for("display_question", question_id=question["id"]) }}">{{ question[header] }}</a>
                                {% elif header == "image" %}
                                    {% for image_name in image_names %}
                                        {% if "question"+question['id'] in image_name and "answer" not in image_name %}
                                    <img src="{{ url_for('static', filename='images/' + image_name) }}" alt="Image not found" width="100" height="100">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ question[header] }}
                                {%  endif %}
                            </td>
                        {%  endif %}
                    {% endfor %}
                    <td>
                        <a href="{{ url_for("vote_up_on_question", question_id=question["id"]) }}"><input type="submit" value="Vote +"></a>
                    </td>
                    <td>
                        <a href="{{ url_for("vote_down_on_question", question_id=question["id"]) }}"><input type="submit" value="Vote -"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>