{% extends "base.html" %}
{% block body %}
<h1><span class="badge badge-secondary">Add tags to your question</span></h1>
<table class="table table-borderless table-dark">
    <thead>
        <tr>
            {% for header in headers %}
                {% if header == "submission_time" or header == "view_number"
                    or header == "vote_number" or header == "title" %}
                    <th>
                        {{ headers_print[header] }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {%  for header in headers %}
                {% if header == "submission_time" or header == "view_number"
                or header == "vote_number" or header == "title" %}
                    <td>
                        {% if header == "title" %}
                            <a href="{{ url_for("display_question", question_id=question["id"]) }}">{{ question[header] }}</a>
                        {%  else %}
                            {{ question[header] }}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>

<textarea name="tags" id="tags" minlength="5" maxlength="50">
    {% for tag in tags_name %}
        {{ tag["name"] }}
    {% endfor %}
</textarea>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <form action="{{ url_for("add_tag", question_id=question["id"]) }}">
       <label class="input-group-text" for="tag">Options</label>
  </div>
      <select class="custom-select" name="tag" id="tag">
            <option selected>Choose...</option>
          {% for tag in tags_list %}
                <option value="{{ tag['name'] }}">{{ tag["name"] }}</option>
            {%  endfor %}
        </select>
    <button class="btn btn-outline-primary" type="submit">Add tag</button>
</div>
    </form>
<div>
    If You want to add new tag please write it below:
    <form action="{{ url_for('add_new_tag', question_id=question["id"]) }}" method="GET">
        <input name="new_tag" id="new_tag" placeholder="Add new tag">
    <button type="submit">Add new tag to database</button>
    </form>
</div>

{% endblock %}