{% extends "base.html" %}
{% block body %}
{% if questions != [] %}
<br>
<a href="{{ url_for("add_question") }}"><button type="submit"  class="btn btn-outline-primary">Add new question</button></a>
<br><br>
    Questions which in their content or in the content of the answers contain the searched phrase
<br><br>
     <table class="table table-hover table-dark">
        <thead>
            <tr>
                {% for header in headers %}
                {% if header == "submission_time" or header == "view_number"
                        or header == "vote_number" or header == "title" or header == "message"%}
                        <th>
                            {{ headers_print[header] }}
                        </th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {%  for header in headers %}
                        {% if header == "submission_time" or header == "view_number"
                            or header == "vote_number" or header == "title" or header == "message" %}
                            <td>
                                {% if header == "title" %}
                                        <a href="{{ url_for("display_question", question_id=question["id"]) }}">
                                            {% for text in re.split('[ ]', question[header]) %}
                                                {% if search_phrase.lower() in text.lower()  %}
                                                    <mark class="badge badge-primary text-wrap">{{text}}</mark>
                                                {% else %}
                                                    {{ text }}
                                                {% endif %}
                                            {% endfor %}
                                        </a>
                                {% elif  header == "message" %}
                                        {% for text in re.split('[ ]', question[header]) %}
                                                {% if search_phrase.lower() in text.lower()  %}
                                                    <mark class="badge badge-primary text-wrap">{{text}}</mark>
                                                {% else %}
                                                    {{ text }}
                                                {% endif %}
                                        {% endfor %}
                                {%  else %}
                                    {{ question[header] }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for answer in answers %}
                    <tr>
                        {%  if answer["question_id"] == question["id"] and search_phrase in answer["message"]%}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Answer message</td>
                                <td>
                                    {% for text in re.split('[ ]', answer["message"]) %}
                                                {% if search_phrase.lower() in text.lower()  %}
                                                    <mark class="badge badge-primary text-wrap">{{text}}</mark>
                                                {% else %}
                                                    {{ text }}
                                                {% endif %}
                                    {% endfor %}
                                </td>
                        {%  endif %}
                    </tr>
                {%  endfor %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    There are no questions or answers containing the given phrase
    <br><br>
{% endif %}
    <br>
        <a href="{{ url_for("list") }}"><button  class="btn btn-outline-primary">Back to the list of questions</button></a>
    <br><br>
{% endblock %}