<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just Ask!</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style> td, th {  border: 2px solid white } h1, body { color: white} </style>
</head>
<body style="background-color: #3A3B3C">
<h1>Just Ask!</h1>
{% if questions != [] %}
<br>
<a href="{{ url_for("add_question") }}"><button type="submit" class="button2">Add new question</button></a>
<br><br>
Questions which in their content or in the content of the answers contain the searched phrase
<br><br>
     <table>
        <thead>
            <tr>
                {% for header in headers %}
                {% if header == "submission_time" or header == "view_number"
                        or header == "vote_number" or header == "title" %}
                        <th>
                            {{ headers_print[header] }}
                        </th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {%  for header in headers %}
                        {% if header == "submission_time" or header == "view_number"
                            or header == "vote_number" or header == "title" %}
                            <td>
                                {% if header == "title" %}
                                    <a href="{{ url_for("display_question", question_id=question["id"]) }}">{{ question[header] }}</a>
                                {%  else %}
                                    {{ question[header] }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    There are no questions or answers containing the given phrase
    <br><br>
{% endif %}
    <br>
        <a href="{{ url_for("index") }}"><button class="button2">Back to the list of questions</button></a>
    <br>
</body>
</html>