{% extends "base.html" %}
{% block body %}
<table class="table table-hover" class="p-3 mb-2 bg-white text-dark ">
    <thead>
            <tr>
                {% for key in users_data_headers %}
                    <th>
                    {{ key }}
                    </th>
                {% endfor %}
            </tr>
        {% for data in users_data %}
            <tr>
                {%  for key in data %}
                    <th>
                    {% if key == 'password' %}
                        ******
                    {%  elif key == 'email'%}
                        <a href="{{ url_for("user_page", email=data['email']) }}">{{ data['email'] }}</a>
                    {% else %}
                        {{ data[key] }}
                    {% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
    </thead>
</table>
{% endblock %}